<div class="container">
  <div class="jumbotron">
    <div class="text-center">
      <h1>Music Wall</h1> 
        
      <div class="container">
      <% if current_user %>
      <p>Check out the most upvoted songs!</p>
        <a href="/songs/new" class="btn btn-success" role="button">Submit a Song</a>
      <% else %>
        <p>Check out the most upvoted songs, or sign up to post a new one!</p>
        <a href="/users/new_user" class="btn btn-primary" role="button">Sign Up</a>
      <% end %>
      </div>
    </div>
  </div>
</div>

<% @songs.each do |song| %>
  <% if song.youtube_embed %>
    <div class="container">
      <div class="song text-center">
        <h3><a href="/songs/<%= song.id %>"><%= song.title %></a> <small>(Artist: <%= song.artist %>) Votes:<%= current_votes(song.id)%></small></h3>
        <div id='videoclipframe' class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="<%=song.link%>" frameborder="0" allowfullscreen> </iframe>
        </div>
      </div>
    </div>
  <% else %>
    <div class="container-fluid">
      <div class="song text-center">
        <h3><a href="/songs/<%= song.id %>"><%= song.title %></a> <small>(Artist: <%= song.artist %>)</small></h3>
        <a href="<%=song.link%>" class="btn btn-info" role="button">Link To Non-Youtube Video</a>
      </div>
    </div>
  <% end %>
<% end %>
